body{
    background-color: #FFFACD;
    font-family: Arial, sans-serif;
    margin: 0px;
    display: block;
  }
  header{
      width: 100%;
      background-color: dodgerblue;
  }
h1{
width: 100%;
color: white;
padding-bottom: 3%;
padding-top: 3%;
text-decoration: none;
text-align: center;
-webkit-margin-before: 0px;
}
p{
    text-align: center;
    padding: 5%;
    font-size: 40px;
}
a{
    text-decoration: none;
    color: black;
}
.Button{
    width: 100%;
    padding-left: 25%;
}
button{
border-radius: 20px;
padding: 20px;
    width: 50%;
    background-color: dodgerblue;
    font-size: 30px;
    color: white;
}
